<nav class="flex justify-between items-center p-4 bg-white shadow-elevated">
  @for (navItem of navItems; track navItem.path) {
    <a
      [routerLink]="navItem.path"
      class="flex items-center opacity-50"
      routerLinkActive="opacity-90 text-xl drop-shadow">
      <app-svg-icon
        [iconName]="navItem.icon"
        [iconClass]="
          isRouteActive(navItem.path) ? 'w-8 h-8' : ''
        "></app-svg-icon>
      @if (isRouteActive(navItem.path)) {
        <span class="capitalize ml-2">
          {{ navItem.name }}
        </span>
      }
    </a>
  }
</nav>
