nav {
  width: 100%;
  padding: calc(1.5 * var(--content-padding));
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

nav a {
  display: block;
  padding: calc(0.75 * var(--content-padding));
  text-decoration: none;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

nav > a:hover {
  font-weight: bold;
}

nav > a.active {
  color: var(--accent-color);
}
