div.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex-grow: 1;
  display: flex;
}

section.content {
  flex-grow: 1;
  padding: var(--content-padding);
}
