<div class="flex flex-col items-center w-full">
  @if (!hasRequestedLinkSuccessfully()) {
    <form
      (submit)="requestResetLink()"
      [formGroup]="requestResetLinkForm"
      class="shadow flex flex-col gap-y-8 px-6 py-14 rounded w-full bg-white border border-slate-300">
      <app-page-header
        pageTitle="Request a password reset link"
        [hideBackButton]="true" />

      <label for="email" class="relative block">
        <span class="font-bold">Email</span>
        <input
          id="email"
          formControlName="username"
          type="email"
          class="w-full mt-1 p-3 rounded bg-slate-50 border border-slate-300 focus:bg-white focus:border focus:border-black focus:outline-none disabled:bg-slate-50 invalid:border-red-500 invalid:text-red-500"
          placeholder="Enter your email address" />

        @if (username.touched && (username.invalid || username.dirty)) {
          @if (username.errors?.['required']) {
            <div class="flex items-center gap-2 text-red-500 mt-2">
              <app-svg-icon iconName="exclamation-circle" />
              <span>Please enter your email address</span>
            </div>
          }

          @if (username.errors?.['email']) {
            <div class="flex items-center gap-2 text-red-500 mt-2">
              <app-svg-icon iconName="exclamation-circle" />
              <span>Please enter a valid email address</span>
            </div>
          }
        }
      </label>

      @if (resetLinkError()) {
        <div class="flex items-center gap-2 text-red-500 mt-2">
          <app-svg-icon iconName="exclamation-circle" />
          <span> {{ resetLinkError() }}</span>
        </div>
      }

      <button
        type="submit"
        class="mt-8 bg-accent rounded text-white text-2xl py-3 px-16 flex items-center justify-center gap-x-4 disabled:bg-slate-300 disabled:cursor-not-allowed"
        [disabled]="
          requestResetLinkForm.touched && requestResetLinkForm.invalid
        ">
        <app-svg-icon iconName="send" />
        <span>Send</span>
      </button>

      <a
        class="text-secondary-100 underline underline-offset-4"
        [routerLink]="['/', APP_ROUTE.auth, APP_ROUTE.login]"
        >Sign in instead</a
      >
    </form>
  } @else {
    <div
      class="shadow flex flex-col gap-4 px-8 py-8 rounded bg-white border border-slate-300">
      <app-page-header
        pageTitle="Reset link successfully sent"
        [hideBackButton]="true" />

      <p class="mb-4">
        Click on the link sent to
        <strong
          class="font-bold underline underline-offset-4 decoration-dashed"
          >{{ username.value }}</strong
        >
        to create a new password
      </p>
      <a
        [routerLink]="undefined"
        (click)="changeHasRequestedLinkSuccessfully(false)"
        class="text-secondary-100 underline underline-offset-4"
        >Not sent or wrong email?</a
      >
    </div>
  }
</div>
